body{
    background-color: blue;
    height: 550px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
/* flexbox */

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* gridbox */
/* body{
    display:grid;
    justify-content: center;
    align-items: center;
} */

/*margin*/
/* .box{
    margin: 200px auto;
} */

/*using position*/

/* .box{
    position: relative;
    left: 45px;
    top: 200px;
} */

/*using transform*/

/* .box{ 
    transform: translate(500px,200px);
} */

